## val_copy에서 songs -> tag 만들기

In [1]:
# song_tags 불러오기
song_tags = pd.read_json('datas/song_tags.json')
song_tags

,songs,tags,tags_num
0,0,"[비오는날, 드라이브, 비오는날, 추억, 회상]","{'비오는날': 2, '드라이브': 1, '추억': 1, '회상': 1}"
1,3,"[1, 감성, 듣기좋은, 드라이브, Pop, 여행, 기분전환, 팝, 신나는, 클럽,...","{'기분전환': 3, '신나는': 3, '드라이브': 2, '클럽': 2, '페스티..."
2,4,"[뉴에이지, 뉴에이지]",{'뉴에이지': 2}
3,5,"[비오는날, 재즈, 락, 발라드, 휴식, 리메이크, 재즈, 힐링송, 힐링, 기분전환...","{'재즈': 2, '비오는날': 1, '락': 1, '발라드': 1, '휴식': 1..."
4,6,"[클래식, 산책, 조깅]","{'클래식': 1, '산책': 1, '조깅': 1}"
...,...,...,...
615137,707984,[월드뮤직],{'월드뮤직': 1}
615138,707985,"[Pop, 해외차트, 시대별차트, 신디로퍼, Pop, 1980, 라이벌, 록]","{'Pop': 2, '해외차트': 1, '시대별차트': 1, '신디로퍼': 1, '..."
615139,707986,"[힙합, 랩, 발라드, 감성, 리메이크곡, 카페, 잔잔한, 추억, 위로, 힐링, 사...","{'발라드': 5, '잔잔한': 4, '이별': 4, '감성': 3, '추억': 3..."
615140,707987,"[집중, 노동요, 새벽, 오후, 자장가, 공부]","{'집중': 1, '노동요': 1, '새벽': 1, '오후': 1, '자장가': 1..."
615141,707988,"[데뷔24년, 김경호, 샤우팅의_지존]","{'데뷔24년': 1, '김경호': 1, '샤우팅의_지존': 1}"

In [2]:
val = pd.read_json('datas/val.json', typ = 'frame')
val

,tags,id,plylst_title,songs,like_cnt,updt_date
0,[],118598,,"[373313, 151080, 275346, 696876, 165237, 52593...",1675,2019-05-27 14:14:33.000
1,[],131447,앨리스테이블,[],1,2014-07-16 15:24:24.000
2,[],51464,,"[529437, 516103, 360067, 705713, 226062, 37089...",62,2008-06-21 23:26:22.000
3,[],45144,,"[589668, 21711, 570151, 320043, 13930, 599327,...",20,2017-10-30 18:15:43.000
4,[],79929,,"[672718, 121924, 102694, 683657, 201558, 38511...",20,2017-02-07 11:40:42.000
...,...,...,...,...,...,...
23010,[잔잔한],101722,,"[75842, 26083, 244183, 684715, 500593, 508608,...",17,2015-12-17 14:06:05.000
23011,"[어머니, 힘들때, 아빠, 가족, 위로받고싶을때]",122127,,"[450275, 487671, 561031, 663944, 628672, 59121...",10,2020-04-16 21:35:44.000
23012,[],77438,,"[625875, 464051, 11657, 236393, 358186, 213435...",0,2019-03-27 15:27:40.000
23013,[],36231,,"[161094, 665833, 688145, 432735, 439938, 12665...",31,2015-11-18 11:49:09.000
23014,[],65189,,"[643070, 132994, 98223, 293236, 513129, 650494...",19,2017-04-23 16:50:58.000

In [ ]:
from collections import Counter
from tqdm import notebook
val_copy = val.copy()
# df_indx = i
for i in notebook.tqdm(range(0,len(val_copy))):
    tags = {}
    if len(val_copy['songs'][i]) != 0:
        # song_idx = j
        for j in range(0,len(val_copy['songs'][i])):
            if len(song_tags[song_tags['songs'] == val_copy['songs'][i][j]]) != 0:
                tag = song_tags[song_tags['songs'] == val_copy['songs'][i][j]]['tags_num'].values[0]
                tags = Counter(tags) + Counter(tag)
            val_copy['tags'][i] = list(dict(sorted(tags.items(), key = lambda x:x[1],reverse=True)[:10]).keys())
    else :
        print(f'{i}번째 노래없음')

In [1]:
# 저장
val_copy.to_json('datas/val_copy.json')

NameError: name 'val_copy' is not defined

In [2]:
# 불러오기
val_copy = pd.read_json('datas/val_copy.json')

In [ ]:
for i in val_cop

In [5]:

len(val_copy['tags'][i]) == 10

True